.notFound {
  font-size: 1.5rem;
  font-weight: bold;
}

.generalHeading {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 10px;
  padding-left: 15px;
}

.ul {
  list-style-type: square;
}

.ul li {
  padding-bottom: 5px;
}

.form {}

.form div {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 10px;
  padding-top: 13px;
  padding-left: 25px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
