/*
.card {
  height: 5rem;
  width: 90%;
  background-color: #080f41;
  padding-top: 30px;
  padding-bottom: 5rem;
  padding-left: 15px;
} */

.notFound {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.generalHeading {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;
}

.ul {
  list-style-type: square;
  color: #ffffff;
}

.ul li {
  padding-bottom: 5px;
}

.form {}

.form div {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 10px;
  padding-top: 13px;
  padding-left: 25px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
