.notFound {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.placeholderText {
  color: #ffffff;
}

.separator {
  height: 1rem;
  background-color: #080f41;
}

.textbox {
  width: 100%;
  padding-bottom: 10rem;
  padding-top: 7.5px;
  padding-left: 7.5px;
  border: none;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 540;
}
