.on {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000000;
  width: 50px;
  font-size: 50px;
}

.off {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffff00;
  width: 50px;
  font-size: 50px;
}
